mat-card-header {
    background-color: lightgreen;
}

mat-card {
    margin-bottom: 15px;
}

mat-progress-bar {
    height: 15px;
}

agm-map {
    height: 300px;
  }

mat-chip {
  margin-right: 5px;
}
