<mat-card>
  <mat-card-title-group>
      <img mat-card-md-image>
    <mat-card-title>title</mat-card-title>
    {{pledge?.amountCents / 100 | currency}}

<mat-card-subtitle>sub title</mat-card-subtitle>


  </mat-card-title-group>


  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>



    {{pledge.property_id}}
    <li>Pledged on: new Date({{pledge.createdOn}})</li>



  </mat-card-content>

  <mat-card-actions>
      <button mat-flat-button (click)="cancelPledge(pledge)">Cancel</button>
  </mat-card-actions>
</mat-card>
