<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar fxLayout="row" fxLayout.xs="column" color="primary">
      <button fxFlex="1 1 auto" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span fxHide.xs="true" fxFlex="1 1 auto" >ecolock</span>



      <div fxFlex="1 1 auto" class="buttonContainer" fxLayout.xs="column" fxLayoutGap="15px" fxLayout="row" fxLayoutAlign="center center">
        <span class="nav-link" *ngIf="(authService.user | async)">
          <button mat-flat-button (click)="this.authService.logout()">Logout</button>
        </span>

        <button mat-flat-button *ngIf="(authService.user | async)" class="nav-item" routerLink="/user">My Pledges</button>
        <button mat-flat-button *ngIf="(isAdmin$| async)" routerLink="/properties/add">Add Property</button>
        <button mat-flat-button *ngIf="!(authService.user | async)" routerLink="/auth">Login</button>
        <span>
          <button mat-flat-button routerLink="/">Properties</button>
        </span>



      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
