<mat-card>
  <mat-card-content _ngcontent-c11="" class="mat-card-content">
    <div _ngcontent-c11="">
      <!----><span _ngcontent-c11="" class="color-primary display-fresh mat-headline ng-star-inserted" ngclass="mat-headline"><img
          _ngcontent-c11="" class="country-flag" aria-describedby="cdk-describedby-message-1" cdk-describedby-host=""
          src="assets/img/flag-co.png" alt="Colombia">USD $1,138</span>
      <!---->
      <!----><span _ngcontent-c11="" ngclass="mat-body-1" class="mat-body-1 ng-star-inserted">de una meta de USD
        $51,000</span>
      <!---->
    </div>
    <div _ngcontent-c11="" fxlayout="column" fxlayout.gt-sm="row" style="padding-top: 2%; text-align: center; flex-direction: row; box-sizing: border-box; display: flex;">
      <div _ngcontent-c11="" fxflex="" fxflex.gt-xs="50%" style="flex: 1 1 100%; box-sizing: border-box; max-width: 50%;">
        <div _ngcontent-c11=""><span _ngcontent-c11="" class="color-primary display-fresh mat-headline" ngclass="mat-headline">64</span><span
            _ngcontent-c11="" class="display-fresh mat-subheading-1" ngclass="mat-subheading-1">Vakers han aportado</span></div>
      </div>
      <div _ngcontent-c11="" fxflex.gt-xs="50%" style="flex: 1 1 100%; box-sizing: border-box; max-width: 50%;">
        <div _ngcontent-c11=""><span _ngcontent-c11="" class="color-primary display-fresh mat-headline" ngclass="mat-headline">11</span><span
            _ngcontent-c11="" class="display-fresh mat-subheading-1" ngclass="mat-subheading-1">Días restantes en
            campaña</span></div>
      </div>
    </div>
    <mat-progress-bar _ngcontent-c11="" aria-valuemax="100" aria-valuemin="0" class="margin-statusbar mat-progress-bar mat-primary"
      color="primary" mode="determinate" role="progressbar" aria-valuenow="2.2321953333333333"><svg class="mat-progress-bar-background mat-progress-bar-element"
        focusable="false" height="5" width="100%">
        <defs>
          <pattern height="5" patternUnits="userSpaceOnUse" width="10" x="5" y="0" id="mat-progress-bar-1">
            <circle cx="2.5" cy="2.5" r="2.5"></circle>
          </pattern>
        </defs>
        <rect height="100%" width="100%" fill="url('/vaki/Poramoramajito#mat-progress-bar-1')"></rect>
      </svg>
      <div class="mat-progress-bar-buffer mat-progress-bar-element"></div>
      <div class="mat-progress-bar-primary mat-progress-bar-fill mat-progress-bar-element" style="transform: scaleX(0.022322);"></div>
      <div class="mat-progress-bar-secondary mat-progress-bar-fill mat-progress-bar-element"></div>
    </mat-progress-bar><span _ngcontent-c11="" class="color-primary display-fresh mat-subheading-1" ngclass="mat-subheading-1">Esta
      Vaki ha aclanzado 2.23% de la meta</span>
    <div _ngcontent-c11="" class="row"><span _ngcontent-c11="">Aporta antes de Sep 7, 2018</span></div>
    <!----><button _ngcontent-c11="" class="button-apoyar mat-raised-button mat-primary ng-star-inserted" color="primary"
      mat-raised-button=""><span class="mat-button-wrapper">Aporta </span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </button>
    <!---->
    <div _ngcontent-c11="" class="networks"><span _ngcontent-c11="" class="color-primary display-fresh text-center mat-headline"
        ngclass="mat-headline">¿Sin dinero? ¡Comparte!</span>
      <div _ngcontent-c11="" fxlayout="column" fxlayout.gt-sm="row" style="flex-direction: row; box-sizing: border-box; display: flex;">
        <div _ngcontent-c11="" fxflex="" fxflex.gt-xs="33%" style="flex: 1 1 100%; box-sizing: border-box; max-width: 33%;"><button
            _ngcontent-c11="" mat-button="" class="mat-button"><span class="mat-button-wrapper">Facebook </span>
            <div class="mat-button-ripple mat-ripple" matripple=""></div>
            <div class="mat-button-focus-overlay"></div>
          </button></div>
        <div _ngcontent-c11="" fxflex="" fxflex.gt-xs="33%" style="flex: 1 1 100%; box-sizing: border-box; max-width: 33%;"><button
            _ngcontent-c11="" mat-button="" class="mat-button"><span class="mat-button-wrapper">Twitter </span>
            <div class="mat-button-ripple mat-ripple" matripple=""></div>
            <div class="mat-button-focus-overlay"></div>
          </button></div>
        <div _ngcontent-c11="" fxflex="" fxflex.gt-xs="33%" style="flex: 1 1 100%; box-sizing: border-box; max-width: 33%;"><button
            _ngcontent-c11="" mat-button="" class="mat-button"><span class="mat-button-wrapper">Whatsapp </span>
            <div class="mat-button-ripple mat-ripple" matripple=""></div>
            <div class="mat-button-focus-overlay"></div>
          </button></div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
