@import 'green-theme.scss';
@import "~firebaseui/dist/firebaseui.css";


body {
  margin: auto;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10%;
  margin-top:75px;

}
